<div class="div-preview-image">
  <input class="inp-file" type="file" #file (change)="fileChange()" accept="{{accept}}" />
  <div class="div-preview">
    <img #preview src="{{initPath}}" alt="图片预览" [hidden]="!selectedFile" [ngStyle]="imgStyle" (click)="previewImg(0)">
    <div class="div-img-box">
      <div class="div-img-item" *ngFor="let img of fileList; let i = index">
        <img class="img-list-item" [src]="img.path | safeUrl" alt="图片" (click)="previewImg(i)">
        <img class="img-close" src="assets/img/close.png" alt="移除" width="20px" height="20px" (click)="close(i)">
      </div>
    </div>
  </div>
</div>
