.div-preview-image {
  margin-bottom: 2rem;
}

.div-preview {
  padding: .1rem;
  margin: .2rem 0;
}

.div-preview img {
  cursor: zoom-in;
  border: 1px solid #cecece;
  padding: .2rem;
}

.div-img-box {
  display: flex;
}

.div-img-item {
  position: relative;
  width: fit-content;
}

.div-img-item .img-close {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
}

.img-list-item {
  max-width: 100px;
  max-height: 100px;
}

.inp-file {
  cursor: pointer;
  width: 100%;
  margin: .5rem 0;
  border-bottom: 1px solid #8e8e8e;
}
